{% extends "base.html" %}

{% block title %}Edit Goal | Goal Tracker{% endblock %}

{% block content %}

<h1>Edit Goal</h1>

<form method="POST">

    <label>Goal</label>
    <input
        type="text"
        name="title"
        value="{{ goal.title }}"
        required
    >

    <br><br>

    <label>Description</label>
    <textarea name="description">{{ goal.description or "" }}</textarea>

    <br><br>

    <label>Category</label>
    <input
        type="text"
        name="category"
        value="{{ goal.category or '' }}"
    >

    <br><br>

    <label>Goal Type</label>
    <select name="goal_type" required>
        <option value="target"
            {% if goal.goal_type == "target" %}selected{% endif %}>
            Target
        </option>

        <option value="habit"
            {% if goal.goal_type == "habit" %}selected{% endif %}>
            Habit
        </option>

        <option value="project"
            {% if goal.goal_type == "project" %}selected{% endif %}>
            Project
        </option>
    </select>

    <br><br>

    <label>Target</label>
    <input
        type="number"
        name="target_value"
        step="any"
        min="0"
        value="{{ goal.target_value if goal.target_value is not none else '' }}"
    >

    <label>Unit</label>
    <input
        type="text"
        name="unit"
        value="{{ goal.unit or '' }}"
    >

    <br><br>

    <label>Start Date</label>
    <input
        type="date"
        name="start_date"
        value="{{ goal.start_date.isoformat() }}"
        required
    >

    <br><br>

    <label>Deadline</label>
    <input
        type="date"
        name="deadline"
        value="{{ goal.deadline.isoformat() if goal.deadline else '' }}"
    >

    <br><br>

    <button type="submit">
        Save Changes
    </button>

</form>

<p>
    <a href="{{ url_for('goals.index') }}">
        Cancel
    </a>
</p>

{% endblock %}